@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.JSInterop;

<button class="Container" id="@level.LevelId" disabled="@(!@level.Owned)" style="@ownedStyle">
    <img class="SongImage" src="data:image/jpg;base64,@PartyPanelUI.GlobalData.covers[level.LevelId]" />
    <div class="SongTextContainer">
        <p class="ListTitle" align="left">@level.Name</p>
        <p class="AuthorMapper" align="left">
            @level.Author @if (!String.IsNullOrEmpty(@level.Mapper))
            {
                <span style="font-size: 15pt;">[<span style="color: cadetblue">@level.Mapper</span>]</span>
            }
        </p>
    </div>
    <div class="SongMetaContainer">
        <p class="SubMetadata" align="right">@level.Duration</p>
        <p class="SubMetadata" align="right">@level.BPM</p>
    </div>
</button>

@code {
    [Parameter]
    public PartyPanelShared.Models.PreviewBeatmapLevel level { get; set; }
    public string ownedStyle { get { return level.Owned ? "pointer-events:all" : "pointer-events:none"; } }
}
